In [1]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as seabornInstance 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics
%matplotlib inline

In [9]:
dataset = pd.read_csv('../USA_Housing.csv')
# dataset.tail()
dataset.shape
dataset.isnull().any().any()
dataset.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [10]:
dataset.columns

Index(['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms', 'Area Population', 'Price', 'Address'],
      dtype='object')

In [16]:

X = dataset[['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',\
            'Avg. Area Number of Bedrooms', 'Area Population']]
y = dataset['Price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [18]:
# with sklearn
regr = LinearRegression()
regr.fit(X_train, y_train)

LinearRegression()

In [22]:
y_pred = regr.predict(X_test)
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df1 = df.head(25)

In [26]:
X_test.head(1)

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population
398,61200.726175,5.299694,6.234615,4.23,42789.692217

In [ ]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as seabornInstance 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics
%matplotlib inline


class PredictorTrain:
    
    def __init__(self, path_to_data='../USA_Housing.csv', x=[], y=[]):
        self.dataset = pd.read_csv(path_to_data)
        self.x = ['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',\
            'Avg. Area Number of Bedrooms', 'Area Population'] if len(x) == 0 else x
        self.y = 'Price' if  len(y) == 0 else y
        self.train()
        
    def train(self):
        X = self.dataset[self.x]
        y = self.dataset[self.y]
        self.X_train, self.X_test, self.y_train, self.y_test = train_test_split(X, y, test_size=0.2, random_state=0)
        self.regr = LinearRegression()
        self.regr.fit(X_train, y_train)
        
class Predictor:
    
    def __init__(self, data=[], predictor = False):
        
        if not predictor:
            raise ValueError("No predictor included!")
        
        self.header = ['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',\
               'Avg. Area Number of Bedrooms', 'Area Population']
        self.data  = data
                
        self.toDF()
        self.run_predict(predictor)
        
    def toDF(self):
        
        arr = np.array( self.data)
        header = np.array( self.header.copy() )

        self.df = pd.DataFrame( arr.reshape(1,-1) )
        self.df.columns = self.header
    
    def run_predict(self, predictor):
        self.__res = predictor.predict(self.df)
    
    def show_results(self):
        return self.__res
        
# p = Predictor([1,2,3,4,5,6, None])

# p.df

def PredictForMe():
    ptf = input("Path to file if any: ")
    header = ['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',\
               'Avg. Area Number of Bedrooms', 'Area Population']
    data = []
    for i in header:
        data.append( input("Enter the value for "+i) )
        
    pt = PredictorTrain()
    p = Predictor(data, pt.regr)
    return p

res  = PredictForMe()
res.show_results()

# TODO
# area should be included. convert string to integer to use in ML