In [18]:
import pandas as pd

from sklearn.svm import SVC
from sklearn.linear_model import Perceptron
from sklearn.naive_bayes import GaussianNB 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [124]:
# Data 
df = pd.read_csv('../income_evaluation.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [125]:
# Data preperations
del df[' fnlwgt'] # removing unnecessary data

# converting string data to integers to use in prediction

wcl = list(df[" workclass"].unique())
edu = list(df[' education'].unique())
ms = list(df[' marital-status'].unique())
ocup = list(df[' occupation'].unique())
rel = list(df[' relationship'].unique())
race = list(df[' race'].unique())
country = list(df[' native-country'].unique())
sex = list(df[' sex'].unique())
income =list(df[' income'].unique())
# 
df.columns
labels = {
            ' workclass':wcl, ' education':edu, ' marital-status':ms, 
            ' occupation':ocup, ' relationship':rel,
            ' race':race, ' native-country':country, ' sex': sex, ' income':income
        }

for label in labels:
    print(label)
    d = dict(zip( labels[label], range(0, len(labels[label])) ))
    df[label] =df[label].map(d, na_action='ignore')

 workclass
 education
 marital-status
 occupation
 relationship
 race
 native-country
 sex
 income

In [126]:
# Data Split

Y = df[' income']
df.drop([' income'], axis=1)
X_training, x_test,Y_training, y_test = train_test_split(df, Y, test_size=0.7)

In [127]:
model = Perceptron()

model.fit(X_training, Y_training)

predictions = model.predict(x_test)

correct = (y_test == predictions).sum()
incorrect = (y_test != predictions).sum()
total = len(predictions)

print("Correct", correct)
print("Incorrect", incorrect)
print("Total", total)
print("Accuracy", round(correct/total*100, 2))

Correct 21130
Incorrect 1663
Total 22793
Accuracy 92.7

In [128]:
# SVC Model
model = SVC()

model.fit(X_training, Y_training)

predictions = model.predict(x_test)

correct = (y_test == predictions).sum()
incorrect = (y_test != predictions).sum()
total = len(predictions)

print("Correct", correct)
print("Incorrect", incorrect)
print("Total", total)
print("Accuracy", round(correct/total*100, 2))

Correct 18234
Incorrect 4559
Total 22793
Accuracy 80.0

In [129]:
# GaussianNB model
model = GaussianNB()

model.fit(X_training, Y_training)

predictions = model.predict(x_test)

correct = (y_test == predictions).sum()
incorrect = (y_test != predictions).sum()
total = len(predictions)

print("Correct", correct)
print("Incorrect", incorrect)
print("Total", total)
print("Accuracy", round(correct/total*100, 2))

Correct 22365
Incorrect 428
Total 22793
Accuracy 98.12

In [130]:
model = KNeighborsClassifier()

model.fit(X_training, Y_training)

predictions = model.predict(x_test)

correct = (y_test == predictions).sum()
incorrect = (y_test != predictions).sum()
total = len(predictions)

print("Correct", correct)
print("Incorrect", incorrect)
print("Total", total)
print("Accuracy", round(correct/total*100, 2))

Correct 19554
Incorrect 3239
Total 22793
Accuracy 85.79