In [51]:
# bostonhousing.csv

import pandas as pd

from sklearn.svm import SVC
from sklearn.linear_model import Perceptron
from sklearn.naive_bayes import GaussianNB 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

In [52]:
# Data 
df = pd.read_csv('../loan_prediction.csv')
df = df.dropna()
del df['Loan_ID']
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y

In [53]:
# converting string data to integers to use in prediction
def data_prep(df):
    g = list(df["Gender"].unique())
    m = list(df["Married"].unique())
    d = list(df["Dependents"].unique())
    e = list(df["Education"].unique())
    se = list(df["Self_Employed"].unique())
    pa = list(df["Property_Area"].unique())
    ls = list(df["Loan_Status"].unique())
    
    # 
    labels = {
                'Gender':g, 'Married':m, 'Education':e, 
                'Self_Employed':se, 'Property_Area':pa,
                'Loan_Status':ls, "Dependents":d
            }

    for label in labels:
        d = dict(zip( labels[label], range(0, len(labels[label])) ))
        df[label] =df[label].map(d, na_action='ignore')
    return df
df = data_prep(df)
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,0,0,0,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,0,0,1,0,1,3000,0.0,66.0,360.0,1.0,1,1
3,0,0,1,1,0,2583,2358.0,120.0,360.0,1.0,1,1
4,0,1,1,0,0,6000,0.0,141.0,360.0,1.0,1,1
5,0,0,2,0,1,5417,4196.0,267.0,360.0,1.0,1,1

In [54]:
from sklearn.model_selection import train_test_split
Y = df['Loan_Status']
X = df.drop(["Loan_Status"], axis=1)
X_train, x_test,y_train, y_test = train_test_split(X, Y, test_size=0.7)

In [55]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

model1 = LogisticRegression()
model2 = DecisionTreeClassifier()
model3 = SVC()

model1.fit(X_train, y_train)
model2.fit(X_train, y_train)
model3.fit(X_train, y_train)

SVC()

In [77]:
from sklearn.ensemble import VotingClassifier, BaggingClassifier, GradientBoostingClassifier
from xgboost import XGBClassifier
from catboost import CatBoostClassifier

from sklearn.metrics import accuracy_score
estimators = [('lr', model1), ('dt', model2) , ('svm', model3) ] 

voting_hard = VotingClassifier(estimators, voting="hard")


voting_hard.fit(X_train, y_train)
voting_hard_pred = voting_hard.predict(x_test)


accuracy_score(y_test, voting_hard_pred)

0.7767857142857143

In [78]:
# BaggingClassifier
for model in estimators:
    bag = BaggingClassifier(base_estimator=model[1], n_estimators=10, random_state=0)
    bag.fit(X_train, y_train)
    bag_pred = bag.predict(x_test)
    print( model[0], accuracy_score(bag_pred, voting_hard_pred))

lr 0.9345238095238095
dt 0.875
svm 0.8630952380952381

In [82]:
gbm = GradientBoostingClassifier(random_state = 123)
gbm.fit(X_train, y_train)
gbm_pred = gbm.predict(x_test)
accuracy_score(y_test, gbm_pred)

0.7559523809523809

In [90]:
xgbt = XGBClassifier(max_depth = 2,
             learning_rate = 0.2,
             objective  = "multi:softmax",
             num_class = 2,
             booster = "gbtree",
             n_estimarors = 10,
             random_state = 123)
xgbt.fit(X_train, y_train)
xgbt_pred = xgbt.predict(x_test)
accuracy_score(y_test, xgbt_pred)

[16:05:53] WARNING: ../src/learner.cc:573:
Parameters: { "n_estimarors" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[16:05:53] WARNING: ../src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softmax' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

0.7678571428571429

In [94]:
from lightgbm import LGBMClassifier
model = LGBMClassifier()
model.fit(X_train, y_train)
lgbm_pred = model.predict(x_test)
accuracy_score(y_test, lgbm_pred)

0.6428571428571429

In [ ]:
model = CatBoostClassifier()